/*page/address.html address.css*/
.address{height:auto; padding:0px 20px; line-height:28px;width:700px; margin-left:50px;}
.address p{ font-size:14px; color:#333; padding-top:10px;}
.about_us p.txt{text-indent:0px;padding-left:20px;}