.bindEmail{width:720px; margin:100px auto;height:500px;}
.bindEmailTxt{width:600px;height:50px;line-height:50px;font-size:20px; margin:0 auto;}
.inputText {outline:none; height:28px; line-height:28px; padding:3px 8px; border:1px #7f7f7f solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.emailTxt{ width:600px; height:36px; line-height:36px; font-size:16px;margin-top:20px;}
.emailAlign{text-align: right; width:80px;}
.text3 { width:100px; }
.yzm_a{ padding-left:10px; color:#1234B5; text-decoration:none;line-height:32px;}
.yzm_a:hover{ color:#1234B5; text-decoration:underline;}
.span-grey{ color:#686868;}
.yzmPosition{width:110px;}
.sub { margin-left:80px;margin-top:50px;width:218px;height:36px; line-height:36px; padding:3px 8px; display:block; text-align:center; font-size:14px; font-weight:bold; color:#fff; border:none; background-color:#1d8ddb; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; cursor:pointer; }
.sub:hover{background-color:#2181c4; }
.showTxt{ height:36px;line-height:36px;margin-left:20px;color:red;font-size:12px;}

.secShow{width:720px; margin:100px auto;height:500px;display:none;}
.secShowTxt{width:600px;height:36px;line-height:36px;font-size:18px; text-align: left;}
.secEmailTxt{color:blue;}
.btn{overflow:hidden;margin:30px auto;}
.button{width:110px; height:30px; line-height:30px;font-size:14px;border:1px solid #ccc;}
.times{color:red;}
.timeTxt{ height:30px; line-height:30px;font-size:14px;margin-left:10px;}
.tel,.back{font-size:13px;}
.back{margin-left:30px;}
.back a:hover{color:red;}