.container{ width:100%;background:#EEE; }
.container .head{ width:990px; height:96px; margin:0px auto; padding-top:8px; position:relative; background:#EEE;}
.container .line{ width:100%; height:3px; background-color:#1d8ddb;}
.container .center{width:790px; min-height:660px; position:relative; background:#fff;margin:0 auto; margin-top:30px; padding:0px 100px; overflow:hidden;}
.container .userLogin{height:50px; line-height:50px; color:#202020; border-bottom:1px #1d8ddb solid; font-size:16px; font-weight: bold;}
.container .formContent{margin-top:50px;  margin-left:150px;}
.container .form-group { margin-bottom:30px; overflow:hidden; }
.container .lable { padding-top: 8px; margin-bottom: 0; text-align: right; float:left; font-size:16px;}
.container .lable1 { width:120px;}
.container .inputText {outline:none; height:28px; line-height:28px; padding:3px 8px; border:1px #7f7f7f solid; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; }
.container .notice{position:relative;width:220px; height:16px;}
.container .notice1{ width:220px; height:16px;position:absolute; margin:10px 10px; float:left; display:none; 
background:url(../images/img/notice.png) no-repeat; padding-left:20px; padding-top:1px; line-height:15px;}
.container .span-grey{ color:#686868;}
.container .yzmPosition{width:110px;}
.container .notice2{ width:150px; height:16px; position:absolute; margin:8px 10px; display:none; float:left; 
background:url(../images/img/notice.png) no-repeat; padding-left:20px; padding-top:1px; line-height:15px;}
.container .notice3{ width:220px; height:16px; position:absolute; margin:10px 10px; float:left; display:none;  padding-left:20px; padding-top:1px; line-height:15px;}
.container .yes{ width:220px; height:19px; background:url(../images/img/right.png) no-repeat left top; position:absolute; margin:8px 10px; 
 padding-top:3px; padding-left:22px;}
.container .no{ width:220px; height:20px; background:url(../images/img/erro.png) no-repeat left top; position:absolute; margin:8px 10px; 
padding-top:3px; padding-left:22px;}

.container .text3 { width:100px; }
.container .yzm_a{ padding-left:10px; color:#1234B5; text-decoration:none;line-height:32px;}
.container .yzm_a:hover{ color:#1234B5; text-decoration:underline;}
.container .login { margin-left:80px;margin-top:50px;width:218px;height:36px; line-height:36px; padding:3px 8px; display:block; text-align:center; font-size:14px; font-weight:bold; color:#fff; border:none; background-color:#1d8ddb; border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px; cursor:pointer; }
.container .login:hover{background-color:#2181c4; }
.container .padding_left_20{padding-left:20px;}
.container .footer{ font-size:12px; font-family:Arial,Microsoft YaHei,Geneva,sans-serif; clear:both; background:#1d8ddb; color:#fff; text-align:center; 
width:990px; margin:0 auto; min-width:980px; height:28px; line-height:28px; }
.container .footer span{ padding-right:12px;}
.container .footer img{ vertical-align:middle;}
.container .bottomNav {background:#fff; width:990px; height:28px;margin:0 auto;}

/*welcome*/
.welcome{ width:100%;background:#EEE; }
.welcome .head{ width:990px; height:96px; margin:0px auto; padding-top:8px; position:relative; background:#EEE;}
.welcome .line{ width:100%; height:3px; background-color:#1d8ddb;}
.welcome .login_new { width:320px; height:20px; text-align:right; padding-top:32px; line-height:30px; color:#6b6b6b; font-size:12px; float:right; margin-right:10px; display:inline; 
position:absolute; right:0px; z-index:1001;}
.welcome .login_new a { color:#6b6b6b; text-decoration:none; padding:0px 5px;}
.welcome .login_new a:hover { color:#1d8ddb; text-decoration:none; padding:0px 5px;}
.welcome .center{width:990px; min-height:660px; position:relative; background:#fff;margin:0 auto; padding:20px 0px; overflow:hidden;}
.welcome .centerLeft{ width:179px; height:auto; height:680px; min-height:680px;  background:#fff; border-right:1px #1d8ddb solid; float:left;padding-left:20px;}

.welcome ul#menu, .welcome ul#menu ul {
  margin: 0;
  padding: 0; position:relative; z-index:10;
}
.welcome ul#menu li{ width:150px; min-height:50px; background:#FFF; position:relative; z-index:1000; text-align:left;}
.welcome ul#menu a {
  display: block;
  text-decoration: none;	
}
.welcome ul#menu a.m1{ background:url(../images/new_images/icon_1.jpg) no-repeat; background-position:0px -259px; padding-left:35px;}
.welcome ul#menu a.m2{ background:url(../images/new_images/icon_1.jpg) no-repeat; background-position:0px -50px; padding-left:35px;}
.welcome ul#menu a.m3{ background:url(../images/new_images/icon_1.jpg) no-repeat; background-position:0px -158px; padding-left:35px;}
.welcome ul#menu a.m4{ background:url(../images/new_images/icon_1.jpg) no-repeat; background-position:0px -212px; padding-left:35px;}
.welcome ul#menu a.m5{ background:url(../images/new_images/icon_1.jpg) no-repeat; background-position:0px -104px; padding-left:35px;}


.welcome ul#menu li { line-height:42px; font-size:16px;/* background:url(../images/img/left_line-bk.png) no-repeat left bottom;*/
margin-top:10px;  margin-bottom:10px;
_margin-top:10px; *margin-bottom:-8px !important;  _margin-bottom:0px;}

.welcome ul#menu li a {
  color:#333;	
}

.welcome ul#menu li a:hover { color:#fe6409;}
.welcome ul#menu li ul li{ height:32px; _margin-bottom:-10px;}
.welcome ul#menu li ul li a { _display:block;
  
  color: #666;
  padding-left:25px;
  font-size:14px;
  text-indent:15px;
}

.welcome ul#menu li ul li a:hover { color:#1d8ddb; padding-left:25px;}
.welcome .menu_li{position:relative;}
.welcome ul#menu .menu_ul{width: 170px; margin-left: 15px; padding-bottom: 18px; display: none;}

.welcome .centerRight{ width:770px; height:auto; min-height:680px; background:#FFF; float:left; overflow:hidden; position:relative; overflow-y: auto; padding:0px 0px}

.welcome  .right_now{ width:790px; height:40px; background:#fff; line-height:40px; margin-bottom:10px; text-indent:15px; color:#686868;}
.welcome  .right_now a{ color:#686868; text-decoration:none;}
.welcome  .right_now a:hover{ color:#686868; text-decoration:underline;}

.welcome  .title-1,.welcome .title-2{ font-size:16px; font-weight:bold; color:#202020; line-height:30px;}
.welcome  .title-1{ width:960px; height:40px; margin:0 auto; background:url(../images/img/title_bk.png) no-repeat;}
.welcome  .title-2{ width:750px; height:30px; background:url(../images/img/title_bk.png) no-repeat; margin-left:20px;}
.welcome .title-2_left{position:relative;}
.welcome .span-normal{ font-weight:normal;}
.welcome .span-12{ font-size:12px; margin-left:10px; display:none;position:absolute;top:0px; left:85px; height:30px;line-height:30px;}
.welcome .footer{ font-size:12px; font-family:Arial,Microsoft YaHei,Geneva,sans-serif; clear:both; background:#1d8ddb; color:#fff; text-align:center; 
width:990px; margin:0 auto; min-width:980px; height:28px; line-height:28px; }
.welcome .footer span{ padding-right:12px;}
.welcome .footer img{ vertical-align:middle;}


/*home_welcome*/

.home_welcome { width:570px; background:#fff; margin:0 auto;padding-left:200px;}
.home_welcome .p1{ margin:10px 0px 18px 0px;}
.home_welcome .span-org{ color:#fe6409;}
.home_welcome .span-grey2{ color:#444;}
.home_welcome .span-24{ font-size:24px;}
.home_welcome .span-16{ font-size:16px;}
.home_welcome .margin_top_40{ margin-top:40px;}

/*riskView*/
.mess_search{ width:740px; margin-top:30px; margin-left:40px; font-size:14px;}
.mess_search ul li{ float:left; margin-right:3px; line-height:30px;}
.mess_search ul li span{ display:block; float:left;}
.search_btn { margin-top:-4px;}
.mess_table{ width:720px; margin:0 auto; margin-top:10px;}
.mess_search .nameText,.mess_search .idText{outline:none; width:110px; height:30px; line-height:30px; border:1px solid #D1D1D1; color:#686868; float:left; text-indent:8px;}
.searchBtn{ width:110px; height:32px; background:rgb(30,141,220); color:#fff; float:left; border-radius:5px; font-size:14px; outline:none; border:none; cursor:pointer; margin-left:5px;}

/*userInfo*/
.userInfo{ width:680px; min-height:480px; margin:0 20px; padding-top:50px;}
.tab_info{ width:600px; height:auto; margin:0 auto; font-size:14px;}
.tab_info p{ margin:15px 0px; color:#444; line-height:24px;}
.span-org{ color:#fe6409;}
.userInfo .title{ width:136px; height:144px; float:left; margin-right:15px; }

/*changePass*/
.changePass{ width:680px; min-height:480px; margin:50px auto; font-size:14px;}
.changePass ul li{ height:32px; margin-top:20px;}
.regist_text{ width:150px; height:32px; text-align:right; float:left; line-height:32px; color:#444;}
.login_input{ width:220px; height:30px; line-height:30px; border:1px solid #D1D1D1; color:#686868; text-indent:8px; float:left;}
.regist_btn { width:105px; height:32px; display:block; float:left;cursor:pointer; border:none; background: url(../images/img/button-red.png) no-repeat; text-align: center;line-height: 34px; color:#fff; margin-left:150px;}




