.body{width:100%; height:100%;background-color: white;}
.view { width:1304px; margin:0px auto; background:#fff; padding:0px 21px; border:1px solid #eeeeee;position:relative;top:0; left:0;}
.clearFix{zoom:1}
.evenLine{background-color: #fcfcfc;}
.oddLine{background-color: white;}
/*名词字典*/
.explainRight{position:fixed;top:50%;right:0px; margin-top:-81px;}
.explainUl li{width:58px;/*clear:both;*/}
.explainFirst{width: 38px;color:white;text-align:center;margin:0 auto; font-size:14px;display: block;background:#1e8ddc;margin-bottom:2px;cursor:pointer;padding: 10px 10px;}
.explainCon {width:282px; background:#8aaac2;display:none;margin-bottom:2px;  float:right;}

.explainUl li:hover{background-color: #f2a139;}
.explainFirstLiTwo{width: 38px;color:white; font-size:14px;text-align:center;margin:0 auto;display: block;background:#1e8ddc;margin-bottom:2px;cursor:pointer;padding: 10px 10px;}
.explainConTwo {width:342px; background:#ccc;display:none;margin-bottom:2px;  float:right;}
/*信贷额度*/
.explainCon .explainList{}
.explainCon .explainList li{position:relative;top:0;left:0;font-size:14px;height: 38px;line-height: 38px;width: 138px;float:left;/* padding: 6px 4px; */color:white;text-align:center;border-bottom:1px solid white;display:block;border-left:1px solid white;}

.explainListCon{width:300px;position:absolute; right:152px;top:-20px; background:#f7f8f8;z-index:3;padding:15px 15px; box-shadow: 0 0 20px #c9c9c9; }

/*右三角*/

.rightdirection {width:0;height:0;line-height:0;border-width: 10px;border-style:solid;border-color: transparent transparent transparent white;  position: absolute;right: -20px;top: 25px;}  

.explainTitle{ text-align: left; color:black; font-size: 14px; margin-top:-10px;}

.line{width:100%; height:2px; margin-top:4px;background-color:#f2a139;margin-top:-4px;}
.explainDesc{width:100%; padding:10px 0px;text-align:left;}
.explainDescP{ line-height:20px; color:black;}

/*查看导出*/
.explainSeeList{}
.explainSeeList li{ padding:10px 20px;width:160px;height:20px; border-bottom:1px solid white;color:white;}
.explainListBtn,.time,.show{float:left;}
.explainListBtn{width:20px; height:20px;cursor:pointer;}
.time{width:100px;display:block;margin-left:10px;height:20px;line-height:20px;color:white;}
.show{width:24px;display:block;margin-left:6px;height:20px;line-height:20px;color:white; cursor:pointer;}
/*全选*/
.allChoice{width:20px; height:20px;color:white;margin-right:10px;}
/*导出*/
.export{width:50px; height:20px;line-height:20px; background:orange;color:white;display:block; float:right;text-align: center;}

.top{ width:100%; height:110px; background:#ffffff; }

.img_logo{display:block;margin-top:15px; margin-left:10px;}
.idNumber{margin-left:20px; display:block;}
.score{color:orange;font-size:18px;font-weight:bold;float:left;display:block;margin-left:10px;}
.slash{font-size:20px;float:left;margin-left:10px;}
.lossRate{font-size:14px;float:left;display:block;margin-left:5px;}
.lossRateNum{font-size:16px;}
.viewTitle{width:960px;text-align: center; line-height:110px;height:110px;font-size:31px;float:left;}
.tel{float:right;margin-top:50px; margin-right:10px;}
.tel p{width:185px;height:20px; text-align: right;}
.viewImg{float:right;height:40px; width:50px;}
.progressBar{width:100%;height:2px; background-color:#1c86d1;}

.name{margin-top:38px; overflow:hidden; margin-left:12px; margin-bottom:22px;}
.name_txt{font-size:18px;margin-right:10px;}
.integrity_rate{font-size:16px;}
.rate{color:#4f59d2;font-size:16px;}
.money{margin-right:12px; font-size:14px;}

.userInfo{ border:1px solid #fff; width:100%;}
.userInfo td{border-right:3px solid #fff;font-size: 14px;  border-bottom:3px solid #ffffff; height:41px;padding-left:6px;background:#e0f0fa; font-family:Arial, Helvetica, sans-serif; }
.credit_rating{width:256px;}
.id_card{width:224px;}
.addr{width:242px;}
.month_money{width:272px;}
.fixed_assets{width:314px;}
.riskPic{ margin-top:10px; width: 1178px; overflow:hidden; }
.riskPic img{ display:block; margin:15px auto;}

.cusInfo .cusTitle,.busInfo .cusTitle,.colInfo .cusTitle{ border-top: 4px solid #2792dd; margin-top:30px;}

.cusInfo .title,.busInfo .title,.colInfo .title { width: 130px; background:#1c86d1; float: left; font-size: 24px; margin-left: 20px;margin-bottom:10px; text-align: center; line-height:38px; color:#fff; border-radius: 0 0 5px 5px; height:38px;}

.cusInfo .more,.busInfo .more,.colInfo .more{ float: right; font-size: 16px; width: 50px; text-align:center; padding:3px; line-height:22px; margin-top:5px; color:#2081c4;}
.cusInfo .more:hover,.busInfo .more:hover,.colInfo .more:hover{  color:#fc9846;}
.cusMes{ width:100%;}

.cusMes td{ border-bottom: 3px solid white; font-size:14px; height:41px;}

.cusMes .grey{ background:#eee; text-align: center;}
.grey_val{background:#fcfcfc;padding-left:8px;}

.sex{width:98px;}
.sex_val{width:152px;}

.year{ width:96px;}
.year_val{width:124px;}

.idNo{width:74px;}
.idNo_val{width:164px;}
.marital_status{width:84px;}
.marital_status_val{width:246px;}

.rates{height:38px; line-height:38px; font-size:14px; margin-left:8px;}
.school{width:75px;}
.school_val{width:173px;}
.busInfo table,.colInfo table{ width:100%;}
/*.busInfo td{ height:50px; line-height:50px; text-align: center;  border: 1px solid #d4d4d4;}
.busInfo td{ background:#f6fcff;}*/
/*.busInfo td:hover{ background:#fff4dd;}*/
.busInfo .col,.acc{ border: dashed 1px #8ac9f5; font-weight:bold; text-align:center; color:#2081c4;}
.busInfo .col:hover,.busInfo .acc:hover{ background:#fc9846; color:#fff; border:1px solid #fc9846;} 
.colInfo td{ height:50px; line-height:50px; text-align: center;  border: 1px solid #d4d4d4;}


.colInfo_title{ font-size:16px; background:#fcfcfc; font-weight: bold;}
.colInfo_title_val{font-size:14px;  }

.guarantee_number{width:200px;}
.guarantee_type{width:136px;}
.guarantee_types{width:138px;}
.id_num{width:168px;}
.guaranteed_discount{width:166px;}
.collateral_value{width:200px;}
.residual_value{width:170px;}
.owner{width:172px;}
.busInfo{font-size:16px; margin-bottom:30px; }
/*.business_title{background:#f6f6f6;}*/
.business_title span,.line_a span{ margin-top: -1px;margin-bottom:0px;margin-right: 0px;margin-left:-1px;height:52px; line-height:52px; text-align: center;  border: 1px solid #d4d4d4; display:block; float:left;}
.business_title span{background:#fcfcfc; font-weight: bold;}
.line_a span{font-size:14px; margin-top: -1px;margin-bottom: 0px;margin-right: 0px;margin-left:-1px;}
.business_line{/*background:red;*/}
.credit_number{width:125px; border-left:2px solid #d4d4d4;}
.business{width:160px;}
.credit_line{width:140px;}
.credit_maturity_date{width:160px;}
.business_rate{width:114px;}
.interest_rate{width:130px;}
.guaranteed_amount{width:168px; }
.account_balance{width:168px; }
.guaranteed_amount_val{color:#0326cc;}
.account_balance_val{ color:#0326cc;}
.status{width:130px;}
.one{background:red;}
.two{background-color: yellow;}
/*/*  信息列表 子表格  */
.info_list_son{width:100%; border:1px solid #d4d4d4; width:93%; border-collapse:separate; }
.info_list_son th{ background:#f6f6f6; font-weight:normal;}
.info_list_son th{ padding:4px; border-right:0px solid #d4d4d4;border-bottom:0px solid #d4d4d4;}
.info_list_son td{ padding:4px; border-right:0px solid #d4d4d4;border-bottom:0px solid #d4d4d4; text-align: center;}
.font_w td { background:#eee; font-weight:bold;}
/*  信息列表 包含子表格外层TD  */
.this_cor_fe { background:#fefefe;}
.this_div { width:100%; overflow:hidden; height:auto;margin-top:20px;margin-bottom:20px; }
.this_div2 { width:100%; overflow:hidden; height:auto;margin-top:20px; margin-bottom:20px; }
.info_list .hide{ display:none;}
.info_list .show{ display:block;}
/*  表格隔行换色  */

/*.business_line{overflow:hidden;height:33px;background-color:#f6fcff;}
.business_line span{width:130px;display:block; float:left; height:30px; line-height:30px;  text-align: center;}
.business_title{border-bottom:1px solid #ccc;height:30px;}
.business_title span{width:130px;display:block; float:left; height:30px; line-height:30px; font-weight: bold; text-align: center;}*/
.layer{width:120%; height:120%; background:blue;}