<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>担保信息</title>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/infoGuarantee.css">
	<script src="../js/libs/angular.js"></script>
	<script src="../js/ng/ngGuarantee.js"></script>
	<script src="../js/libs/angular.js"></script>
	<script src="../js/libs/angular-route.js"></script>
	<script src="../js/ng/ngAjax.js"></script>
</head>
<body ng-app="guarApp" ng-controller="guarController">
	<div class="layOut shadow"> 
	  <!--  头  -->
	  <ul class="top">
	    <li class="t_logo"><img src="../images/logo.gif" width="138" height="52"></li>
	    <li class="t_title">客户风险视图</li>
	    <li class="t_date">服务热线：400-890-7756<br>
	2016年03月11日 16时38分06秒</li><li>{{dt1 | date:'yyyy-MM-dd HH:mm:ss'}}{{dt2}}</li></ul>
	  
	  <!--  业务信息 1  -->
	  <div class=" mod_title"> <strong><a href="javascript:;">担保信息 </a></strong><i><!--<a href="info_business.htm">更多</a>--></i> </div>
	  <table class="info_list " id="coll_list">
	    <tr>
	      <th>担保编号</th>
	      <th>担保类型</th>
	      <th>担保种类</th>
	      <th>唯一编号</th>
	      <th>担保品价值</th>
	      <th>担保品可用价值</th>
	      <th>所有者</th>
	    </tr>
	    <tr>
    <tr ng-repeat="coll in collList">
    	<td>{{coll.no}}</td>
    	<td>{{coll.mtCollTypDscp}}</td>
    	<td>{{coll.mtCollCatDscp}}</td>
    	<td>{{coll.colIdNo}}</td>
        <td>{{coll.collValue}}</td>
        <td>{{coll.remainValue}}</td>
        <td>{{coll.ownerCifNm}}</td>     
    </tr>
	  </table>
	  
	  <!--  担保详情  -->
	  <div class=" guarantee_detail"> 
	  	<p class="title"><strong><a href="javascript:;">担保详情</a></strong></p>
	  </div>
	  
	  <div id="col_detail">
	  </div>
	  	<!--  详情信息块 1  -->
		  <div class="detail_son_long mt_10"> <strong><a href="javascript:;">1　房产({{collList[0].no}})</a></strong>
		  <i><a href="info_business.htm"></a></i> </div>
		  <table class="yewu_list_son_long">
		    <tr >
		      <th>房产证号</th>
		      <th>建筑物名称</th>
		      <th>国家</th>
		      <th>所在位置</th>
		      <th>担保品价值</th>
		      <th>购买日期</th>
		      <th>购买价格</th>
		      <th>房产面积</th>
		      <th>土地取得方式</th>
		      <th>土地用途</th>
		      <th>土地面积</th>
		    </tr>
		    <tr ng-repeat="coll in collDetailList">
		      <td>{{coll.propertyNo}}</td>
		      <td>{{coll.buildingNm}}</td>
		      <td>{{coll.mtCtryCd}}</td>
		      <td>{{coll.addrLine}}</td>
		      <td>{{coll.collValue}}</td>
		      <td>{{coll.dtPurchased}}</td>
		      <td>{{coll.purchasedPrc}}</td>
		      <td>{{coll.builtUpArea}}</td>
		      <td>{{coll.mtLandAcquireMtdCd}}</td>
		      <td>{{coll.mtLandUseCd}}</td>
		      <td>{{coll.landArea}}</td>
		    </tr>
	  </table> 
	  <!--  详情信息块 2  -->
	  <div class="detail_son_long mt_10"> <strong><a href="javascript:;">2　保证({{collList[1].no}})</a></strong>
	    <i><a href="info_business.htm"></a></i> 
	  </div>
	  <table class="yewu_list_son_long">
	    <tr>
	      <th>保证人名称</th>
	      <th>证件号码</th>
	      <th>担保价值</th>
	      <th>保证开始日期</th>
	      <th>保证到期日</th>
	      <th>是否阶段担保</th>
	    </tr>
	    <tr ng-repeat="coll in collDetailList">
	      <td>{{coll.ownerCifNm}}</td>
	      <td>{{coll.idCard}}</td>
	      <td>{{coll.collValue}}</td>
	      <td>{{coll.grteeDt}}</td>
	      <td>{{coll.grteeDtMaturity}}</td>
	      <td>{{coll.isGrteePeriodically}}</td>
	    </tr>
	  </table>
	  </div>
</body>
</html>