<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>业务信息</title>
	<link rel="stylesheet" href="../css/base.css">
	<link rel="stylesheet" href="../css/infoBusiness.css">
	<script src="../js/libs/jquery.js"></script>
	<script src="../js/libs/angular.js"></script>
	<script src="../js/libs/angular-route.js"></script>
	<script src="../js/ng/ngBusiness.js"></script>
	<script src="../js/ng/ngAjax.js"></script>
	<script src="../js/ng/ngview.js"></script>
</head>
<body>
	<div id="headDiv" class="layOut shadow" ng-app="businessApp" ng-controller="businessController"> 
	  <!--  头  -->
	  <ul class="top">
	    <li class="t_logo"><img src="../images/logo.gif" width="138" height="52"></li>
	    <li class="t_title">客户风险视图</li>
	    <li class="t_date">服务热线：400-890-7756<br>
	2016年03月11日 16时38分06秒</li>  </ul>
	  <!--  业务信息 1  -->
	  <div ng-repeat="item in resJson ">
	  <div class="mod_title mt_30" > <strong><a href="#">业务信息 <span class="font_title_sn">{{item.no}}</span></a></strong><i></i> </div>
	   <div>
		  <table class="info_list">
		    <tr>
		      <th>授信编号</th>
		      <th>业务</th>
		      <th>授信有效到期日</th>
		      <th>利率</th>
		      <th>罚息利率</th>
		      <th>信贷额度</th>
		      <th>有效担保连接金额</th>
		      <th>账户余额</th>
		      <th>是否可循环</th>
		      <th>债项评级</th>
		      <th>用途</th>
		      <th>状态</th>
		    </tr>
		    <tr>
		      <td>{{item.no}}</td>
		      <td>{{item.mtFacCdDscp}}</td>
		      <td>{{item.dtMaturity}}</td>
			  <td>{{item.mtRateTypRate}}%</td>
              <td>{{item.intRateInSuspense}}%</td>
              <td>{{item.lmtAppr}}</td>
			  <td ng-show="{{item.marker}}== true" style="color:red;">
				{{item.chargeValue}}
			  </td>
			 <td  ng-show="{{item.marker}}== false">
							{{item.chargeValue}}
			 </td>
			<td ng-show="{{item.acctMarker}}== true" style="color:red;">
				{{item.balance}}
			  </td>
			 <td  ng-show="{{item.acctMarker}}== false">
							{{item.balance}}
			 </td>	
		      <td>{{item.isRevolvingAllowed}}</td>
		      <td>{{item.lgdGradeCdDscp}}</td>
		      <td>{{item.mtFacPurCdDscp}}</td>
		      <td>{{item.mtFacStsCdDscp}} </td>
		    </tr>
		  </table>
	  </div>
	  <div class="detail_title_son mt_10"> <strong><a href="#">担保连接</a></strong><i></i> </div>
	  <div><table class="yewu_list_son ">
	    <tr>
	      <th>担保编号</th>
	      <th>担保种类</th>
	      <th>担保品价值</th>
	      <th>担保品剩余价值</th>
	      <th>担保连接金额</th>
	      <th>担保品折扣系数</th>
	      <th>担保连接金额</th>
	      <th>担保连接余额</th>
	      <th>所有者</th>
	    </tr>
	    <tr  ng-repeat="coll in resColl" ng-show="coll.facId==item.id">
	      <td>{{coll.colIdNo}}</td>
	      <td>{{coll.mtCollCatDscp}}</td>
	      <td>{{coll.collValue}}</td>
	      <td>{{coll.remainValue}}</td>
	      <td>{{coll.chargeValue}}</td>
	      <td>{{coll.safetyFactor}}%</td>
	      <td>{{coll.effectiveChargeValue}}</td>
	      <td>{{coll.remainChargeValue}}</td>
	      <td>{{coll.ownerCifNm}}</td>
	    </tr>
	  </table></div>
	  <div class=" detail_title_son mt_10"> <strong><a href="#">账户</a></strong><i></i> </div>
	  <div><table class="yewu_list_son ">
	    <tr>
	      <th>账号</th>
	      <th>还款周期</th>
	      <th>还款方式</th>
	      <th>到期日</th>
	      <th>利率</th>
	      <th>罚息利率</th>
	      <th>账户余额(含拖欠）</th>
	      <th>拖欠利息</th>
	      <th>拖欠本金</th>
	      <th>用途</th>
	    </tr>
	    <tr ng-repeat="acct in resAcct" ng-show="acct.facId==item.id">
	      <td>{{acct.acctNo}}</td>
	      <td>{{acct.mtPymtTermCdDscp}}</td>
	      <td>{{acct.mtRepymtTypCdDscp}}</td>
	      <td>{{acct.dtMaturity}}</td>
	      <td>{{acct.mtRateTypRate}}%</td>
	      <td>{{acct.intRateInSuspense}}%</td>
	      <td>{{acct.outstdAmt}}</td>
		  <td>{{acct.tardyCapitalAmt}}</td>
          <td>{{acct.tardyInterestAmt}}</td>
          <td>{{acct.purpose}}</td>
	    </tr>
	  </table></div>
	  
	</div>
	</div>
</body>
</html>