 <!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>炼金台 - 信用风险视图</title>
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/view.css">
<script src="../js/libs/jquery.js"></script>
<script src="../js/libs/angular.js"></script>
<script src="../js/libs/angular-route.js"></script>
<script src="../js/ng/ngAjax.js"></script>
<script src="../js/ng/ngview.js"></script>
</head>

<body class="body">
<div class="view" ng-app="viewApp" ng-controller="viewController"> 
    <ul class="top clearfix">
    	<li class="fl">
        <span class="img_logo"><img src="../images/logo.gif" ></span>
        <span class="idNumber">视图编号:0000000</span>
      </li>
        <li class="viewTitle">风险视图</li>
    	<li class="tel fr">
        	<p>服务热线：400-890-7756</p>
            <p>2016年4月14日 09时00分00秒</p>
   		</li>
        
    </ul>
    
    <div class="progressBar">

    </div>
    <div class="name">
      <div class="fl">
        <span class="name_txt">{{nm}}</span><span class="integrity_rate ">完整率&nbsp;：&nbsp</span><span class="rate total"></span>
      </div>
      <div class="money fr">币种：人民币</div>
    </div>
    <table class="userInfo">
    	<tbody>
            <tr>
              <td class="credit_rating">信用评级：<span class="tab_txt_size">90分（AAA）</span></td>
              <td class="id_card">身份证：<span id="summaryIdNo">{{idNo}}<img style="vertical-align:middle" src="../images/{{idNoStatus}}.png"/></span></td>
              
              <td class="addr">居住地址：<span id="mtCityCd">{{mtStateCdDscp}}<img style="vertical-align:middle" src="../images/{{mtStateCdDscpStatus}}.png"/></span></td>
              <td class="month_money">月收入：<span id="summaryMonthlyIncAmt">{{monthlyIncAmt}}<img style="vertical-align:middle"  src="../images/{{monthlyIncAmtStatus}}.png"/></span></td>
              <td class="fixed_assets">固定资产：<span id="summaryHouseholdFixAssetAmt">{{householdFixAssetAmt}}<img style="vertical-align:middle" src="../images/{{householdFixAssetAmtStatus}}.png"/></span></td>
            </tr>
            <tr>
              <td class="credit_rating">信贷总额度：<span id="summarylmtApprAllAmt">{{summarylmtApprAllAmt}}</span></td>
              <td class="id_card">账户总余额：<span id="summaryOutstdAmtAll">{{summaryOutstdAmtAll}}</span></td>
              <td class="addr">担保连接总金额：<span id="summaryChargeValue">{{summaryChargeValue}}</span></td>
              <td class="month_money">担保品总价值：<span id="summaryCollValue">{{summaryCollValue}}</span></td>
              <td class="fixed_assets">担保品可用总价值：<span id="summaryRemainValue">{{summaryRemainValue}}</span></td>
            </tr>
        </tbody>
    </table>
    
    <div class="riskPic">
    	<img src="../images/riskPic.png">
    </div>
    <div class="cusInfo">
        <div class="cusTitle clearfix"> 
             <p class="title fl">客户信息</p>
             <p class="rates fl">
            <span class="integrity_rate ">完整率&nbsp;：&nbsp</span><span class="rate ciftotalrate"></span>
          </p>
             <a href="infoAccount.html" class="more Customer_information"  target="_blank">详情</a>
        </div>

        <table class="cusMes">
        	<tbody>
                <tr>
                    <td class="grey sex">性别</td>
                    <td id="mtGenderCd" class="grey_val sex_val">{{mtGenderCdDscp}}<img style="vertical-align:middle" src="../images/{{mtGenderCdDscpStatus}}.png"/></td>
                    <td class="grey year">年龄</td>
                    <td id="age" class="grey_val year_val">{{age}}<img style="vertical-align:middle" src="../images/{{ageStatus}}.png" /></td>
                    <td class="grey idNo">身份证号</td>
                    <td id="mtEduLvlCd" class="grey_val idNo_">{{idNo}}<img style="vertical-align:middle" src="../images/{{idNoStatus}}.png"/></td>
                    <td class="grey marital_status">婚姻状况</td>
                    <td id="mtMaritalStsCd" class="grey_val marital_status_val">{{mtMaritalStsCdDscp}}<img style="vertical-align:middle" src="../images/{{mtMaritalStsCdDscpStatus}}.png"/></td>
                    <td class="grey school">教育程度</td>
                    <td id="mtEduLvlCd" class="grey_val school_val">{{mtEduLvlCdDscp}}<img style="vertical-align:middle" src="../images/{{mtEduLvlCdDscpStatus}}.png"/></td>
                    
                    
                </tr>
                <tr>
                    <td class="grey sex">月收入</td>
                    <td id="monthlyIncAmt" class="grey_val sex_val">{{monthlyIncAmt}}<img style="vertical-align:middle" src="../images/{{monthlyIncAmtStatus}}.png"/></td>
                    <td class="grey year">家庭月收入</td>
                    <td id="householdMonthlyIncAmt" class="grey_val year_val">10K</td>

                    <td class="grey idNo">固定资产</td>
                    <td id="householdFixAssetAmt" class="grey_val idNo_val">{{householdFixAssetAmt}}<img style="vertical-align:middle" src="../images/{{householdFixAssetAmtStatus}}.png"/></td>
                    
                    <td class="grey marital_status">工作单位</td>
                    <td id="employerCifNm" class="grey_val">{{employerCifNm}}<img style="vertical-align:middle" src="../images/{{employerCifNmStatus}}.png"/></td>
                   <!--  <td class="grey">户籍</td>
                    <td id="mtResidenceStsCd" class="grey_val">{{mtStateCdDscp}}<img style="vertical-align:middle" src="../images/{{mtStateCdDscpStatus}}.png"/></td> -->
                    <td class="grey school">职位</td>
                    <td id="mtPosHeldCd" class="grey_val school_val">{{mtPosHeldCd}}<img style="vertical-align:middle" src="../images/{{mtPosHeldCdStatus}}.png"/></td>
                    
                </tr>
            </tbody>
        </table>
        
    </div>
    
    <!-- 担保信息 -->
    
    <div class="colInfo">
    	<div class="cusTitle clearfix"> 
        	<p class="title fl">担保信息</p>
          <p class="rates fl">
            <span class="integrity_rate ">完整率&nbsp;：&nbsp</span><span class="rate colltotalrate"></span>
          </p>
        	
          <a href="javascript:;" class="more collMore" target="_blank" >详情</a>
        </div>
        <table>
        	<tbody>
            	<tr class="colInfo_title">
                    <td class="guarantee_number">担保编号</td>
                    <td class="guarantee_type">担保类型</td>
                    <td class="guarantee_types">担保种类</td>
                    <td class="id_num">唯一识别号码</td>
                    <td class="guaranteed_discount">担保品折扣系数</td>
                    <td class="collateral_value">担保品价值</td>
                    <td class="residual_value">担保品可用价值</td>
                    <td class="owner">所有者</td>
                </tr>
                <tr class="colInfo_title_val" ng-repeat="coll in collList">
                    <td class="guarantee_number">{{coll.no}}</td>
                    <td class="guarantee_type">{{coll.mtCollTypDscp}}</td>
                    <td  class="guarantee_types">{{coll.mtCollCatDscp}}</td>
                    <td class="id_num">{{coll.colIdNo}}</td>
                    <td class="guaranteed_discount">{{coll.safetyFactor}}%</td>
                    <td class="collateral_value">{{coll.collValue}}</td>
                    <td class="residual_value">{{coll.remainValue}}</td>
                    <td class="owner">{{coll.ownerCifNm}}</td>
                </tr>
            </tbody>
        </table>    
    </div>
   
<!-- 业务信息 -->
  <div class="busInfo">
      <div class="cusTitle clearfix"> 
         <p class="title fl">业务信息</p>
         <p class="rates fl">
          <span class="integrity_rate ">完整率&nbsp;：&nbsp</span><span class="rate factotalrate"></span>
        </p>
         <a href="javascript:;" class="more next" target="_blank">详情</a>
      </div>
      
      <div class="business_title clearfix">
      
            <span class="credit_number" style="border-left:2px solid #d4d4d4">授信编号</span>
            <span class="business">业务</span>
            <span class="credit_line">信贷额度</span>
            <span class="credit_maturity_date">授信到期日</span>
            <span class="business_rate">业务利率</span>
            <span class="interest_rate">罚息利率</span>
            
            <span class="guaranteed_amount ">担保连接金额</span>
            <span class="account_balance">账户余额</span>
            <span class="status">状态</span>
        </div>
        
          <div  class="line_a" ng-repeat="item in resJson " ng-init="ng-model"  ng-model="display">
            <div class="business_line clearfix " >
               <span class="credit_number " style="border-left:2px solid #d4d4d4">{{item.no}}</span>
                <span class="business" >{{item.mtFacCdDscp}}</span>
                <span class="credit_line" >{{item.lmtAppr}}</span>
                <span class="credit_maturity_date" >{{item.dtMaturity}}</span>
                <span class="business_rate" >{{item.mtRateTypRate}}%</span>
                <span class="interest_rate" >{{item.intRateInSuspense}}%</span>
                
                <span class="guaranteed_amount guaranteed_amount_val" >
                  <div ng-show="{{item.marker}}== true">
                    <div class="col"  ng-click="toggle(1*($index+1))" style="color:red;">
                        {{item.chargeValue}}
                    </div>
                  </div>
                  <div ng-show="{{item.marker}}== false">
                    <div class="col"  ng-click="toggle(1*($index+1))">
                        {{item.chargeValue}}
                    </div>
                  </div>
                </span>
                <span class="account_balance account_balance_val">
                  <div ng-show="{{item.acctMarker}}== true">
                    <div class="acc" ng-click="toggle(2*($index+2))"  style="color:red;">
                      {{item.balance}}
                    </div>
                  </div>
                  <div ng-show="{{item.acctMarker}}== false">
                    <div class="acc" ng-click="toggle(2*($index+2))">
                      {{item.balance}}
                    </div>
                  </div>
                </span>
                <span class="status" >     
                      {{item.mtFacStsCdDscp}}
                </span>
            </div>
            
            <div class="this_div" ng-show="display==1*($index+1)" >
              <table  class="info_list_son mb_10 mt_10" >
                <tr>
                  <th>担保编号</th>
                  <th>担保种类</th>
                  <th>担保品价值</th>
                  <th>担保品可用价值</th>
                  <th>担保连接金额</th>
                  <th>所有者</th>
                </tr>
                <tr ng-repeat="coll in resColl" ng-show="coll.facId==item.id">
                  <td>{{coll.colIdNo}}</td>
                  <td>{{coll.mtCollCatDscp}}</td>
                  <td>{{coll.collValue}}</td>
                  <td>{{coll.remainValue}}</td>
                  <td style="color:red;">{{coll.chargeValue}}</td>
                  <td>{{coll.ownerCifNm}}</td>
                </tr>

                <!-- <tr ng-show="coll.facId==null || item.id==null">
                  <td>无数据</td>
                  
                </tr> -->
              </table>
        
            </div>
            <div class="this_div2" ng-show="display==2*($index+2)">
              <table class="info_list_son mb_10" >
                <tr class="font_w">
                  <th>账号</th>
                  <th>还款周期</th>
                  <th>还款方式</th>
                  <th>到期日</th>
                  <th>业务利率</th>
                  <th>罚息利率</th>
                  <th>账户余额（含拖欠）</th>
                  <th>拖欠本金</th>
                  <th>拖欠利息</th>
                  <th>用途</th>
                </tr>
                <tr  ng-repeat="acct in resAcct" ng-show="acct.facId==item.id">
                 <td>{{acct.acctNo}}</td>
                  <td>{{acct.mtPymtTermCdDscp}}</td>
                  <td>{{acct.mtRepymtTypCdDscp}}</td>
                  <td>{{acct.dtMaturity}}</td>
                  <td>{{acct.mtRateTypRate}}%</td>
                  <td>{{acct.intRateInSuspense}}%</td>
                  <td>{{acct.outstdAmt}}</td>
                  <td style="color:red;">{{acct.tardyCapitalAmt}}</td>
                  <td style="color:red;">{{acct.tardyInterestAmt}}</td>
                  <td>{{acct.purpose}}</td>
                </tr>
              </table>
            </div>
        </div>
     
  </div> 
    
   <div class="explainRight">
       <ul class="explainUl">

           <li class="clearFix"><span class="explainFirst" id="explainFirst" ng-click="explainFirst()">名词字典</span>
                <div class="explainCon" id="explainCon">
                    <ul class="explainList clearFix">
                        <li ng-repeat="resli in resList" class="explainListLi" ng-mouseout="showPhotomcout($index)" ng-mouseover="showPhotomc($index)" ng-class="{'active':isActivemc($index)}">
                            <div class="explainSec">{{resli.niName}}</div>
                            <div class="explainListCon" ng-show="isActivemc($index)">
                                <div  class="rightdirection"></div>  

                                <div class="explainDescribe">
                                    <h3 class="explainTitle">{{resli.niName}}</h3>
                                    <h4 class="line"></h4>
                                    <div class="explainDesc">
                                        
                                        <p class="explainDescP">{{resli.niDesc}}</p>
                                    </div>
                                </div>

                            </div>

                        </li>
        
                    </ul>

                </div>
           </li>

           <li class="clearFix"><span  class="explainFirstLiTwo" id="explainFirstLiTwo">查看导出</span>
                <div class="explainConTwo">
                    <ul class="explainSeeList clearFix">
                        <li>
                           <input type="checkbox" class="explainListBtn"> 
                           <span class="time">2016.3.12 12:25</span>
                           <span class="show">查看</span>
                        </li>
                        <li>
                           <input type="checkbox" class="explainListBtn"> 
                           <span class="time">2016.3.12 12:25</span>
                           <span class="show">查看</span>
                        </li>
                        <li>
                           <input type="checkbox" class="explainListBtn"> 
                           <span class="time">2016.3.12 12:25</span>
                           <span class="show">查看</span>
                        </li>
                        <li>
                           <input type="checkbox" class="explainListBtn"> 
                           <span class="time">2016.3.12 12:25</span>
                           <span class="show">查看</span>
                        </li>
                        <li>
                           <input type="checkbox" class="explainListBtn allChoice">全选
                           <span class="export">导出</span>
                        </li>

                        
                    </ul>


                </div>
           </li>

           
       </ul>
       <div  class="explainFirst scrollTop">顶部</div>
   </div> 
    <div class="layer"></div>
</div>
</body>
</html>
