<!-- 担保信息 -->
    
    <div class="colInfo">
    	<div class="cusTitle clearfix"> 
        	<p class="title fl">担保信息</p>
          <p class="rates fl">
            <span class="integrity_rate ">完整率&nbsp;：&nbsp</span><span class="rate colltotalrate"></span>
          </p>
        	
          <a class="more collMore" ng-click="collMore()">详情</a>
        </div>
        <table>
        	<tbody class="collTbody">
            	 <tr class="colInfo_title">
                    <td class="guarantee_number">担保编号</td>
                    <td class="guarantee_type">担保类型</td>
                    <td class="guarantee_types">担保种类</td>
                    <td class="id_num">唯一识别号码</td>
                    <td class="guaranteed_discount">担保品折扣系数</td>
                    <td class="collateral_value">担保品价值</td>
                    <td class="residual_value">担保品可用价值</td>
                    <td class="owner">所有者</td>
                </tr>
                 <tr class="colInfo_title_val" ng-repeat="coll in collList"  ng-class-even="'evenLine'">
                    <td class="guarantee_number">{{coll.no}}</td>
                    <td class="guarantee_type">{{coll.mtCollTypDscp}}</td>
                    <td  class="guarantee_types">{{coll.mtCollCatDscp}}</td>
                    <td class="id_num">{{coll.colIdNo}}</td>
                    <td class="guaranteed_discount">{{coll.safetyFactor}}%</td>
                    <td class="collateral_value">{{coll.collValue  | number:2}}</td>
                    <td class="residual_value">{{coll.remainValue  | number:2}}</td>
                    <td class="owner">{{coll.ownerCifNm}}</td>
                </tr>
            </tbody>
        </table>    
    </div>