 <!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>炼金台 - 信用风险视图</title>
<link rel="stylesheet" href="../css/base.css">
<link rel="stylesheet" href="../css/view.css">
<script src="../js/libs/jquery.js"></script>
<script src="../js/libs/angular.js"></script>
<script src="../js/libs/angular-route.js"></script>
<script src="../js/ng/ngAjax.js"></script>
<script src="../js/ng/ngview.js"></script>
</head>

<body class="body">
<div class="view" ng-app="viewApp" ng-controller="viewController"> 
    <ul class="top clearfix">
    	<li class="fl">
        <span class="img_logo"><img src="../images/logo.gif" ></span>
        <span class="idNumber">视图编号:0000000</span>
      </li>
        <li class="viewTitle">风险视图</li>
    	<li class="tel fr">
        	<p>服务热线：400-890-7756</p>
            <p>2016年4月14日 09时00分00秒</p>
   		</li>
        
    </ul>
    
    <div class="progressBar" >

    </div>
    <div class="name">
      <div class="fl">
        <span class="name_txt">{{nm}}</span><span class="integrity_rate ">完整率&nbsp;：&nbsp</span><span class="rate total"></span>
      </div>
      <div class="money fr">币种：人民币</div>
    </div>
    <table class="userInfo">
    	<tbody>
            <tr>
              <td class="credit_rating">信用评级：<span class="tab_txt_size">{{score}}分{{rating}}</span></td>
              <td class="id_card">{{mtCifIdTypCdDscp}}：<span id="summaryIdNo">{{idNo}}<img ng-show="idNoStatus" style="vertical-align:middle;margin-left:20px;" src="../images/{{idNoStatus}}.png"/></span></td>
              
              <td class="addr">居住地址：<span id="mtCityCd">{{mtStateCdDscp}}{{mtCityCdDscp}}<img style="vertical-align:middle;margin-left:20px;" ng-show="mtCityCdDscpStatus" src="../images/{{mtCityCdDscpStatus}}.png"/></span></td>
              <td class="month_money">月收入：<span id="summaryMonthlyIncAmt">{{monthlyIncAmt}}<img style="vertical-align:middle;margin-left:20px;"  src="../images/{{monthlyIncAmtStatus}}.png"/></span></td>
              <td class="fixed_assets">固定资产：<span id="summaryHouseholdFixAssetAmt">{{householdFixAssetAmt}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{householdFixAssetAmtStatus}}.png"/></span></td>
            </tr>
            <tr>
              <td class="credit_rating">信贷总额度：<span id="summarylmtApprAllAmt">{{summarylmtApprAllAmt}}</span></td>
              <td class="id_card">账户总余额：<span id="summaryOutstdAmtAll">{{summaryOutstdAmtAll}}</span></td>
              <td class="addr">担保连接总金额：<span id="summaryChargeValue">{{summaryChargeValue}}</span></td>
              <td class="month_money">担保品总价值：<span id="summaryCollValue">{{summaryCollValue}}</span></td>
              <td class="fixed_assets">担保品可用总价值：<span id="summaryRemainValue">{{summaryRemainValue}}</span></td>
            </tr>
        </tbody>
    </table>
    
    <div class="riskPic">
    	<img src="../images/riskPic.png">
    </div>
    <div class="cusInfo">
        <div class="cusTitle clearfix"> 
             <p class="title fl">客户信息</p>
             <p class="rates fl">
            <span class="integrity_rate ">完整率&nbsp;：&nbsp</span><span class="rate ciftotalrate"></span>
          </p>
             <a class="more Customer_information">详情</a>
        </div>

        <table class="cusMes">
        	<tbody>
                <tr>
                    <td class="grey sex">性别</td>
                    <td id="mtGenderCd" class="grey_val sex_val">{{mtGenderCdDscp}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{mtGenderCdDscpStatus}}.png"/></td>
                    <td class="grey year">年龄</td>
                    <td id="age" class="grey_val year_val">{{age}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{ageStatus}}.png" /></td>
                    <td class="grey idNo">{{mtCifIdTypCdDscp}}</td>
                    <td id="mtEduLvlCd" class="grey_val idNo_">{{idNo}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{idNoStatus}}.png"/></td>
                    <td class="grey marital_status">婚姻状况</td>
                    <td id="mtMaritalStsCd" class="grey_val marital_status_val">{{mtMaritalStsCdDscp}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{mtMaritalStsCdDscpStatus}}.png"/></td>
                    <td class="grey school">教育程度</td>
                    <td id="mtEduLvlCd" class="grey_val school_val">{{mtEduLvlCdDscp}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{mtEduLvlCdDscpStatus}}.png"/></td>
                    
                    
                </tr>
                <tr>
                    <td class="grey sex">月收入</td>
                    <td id="monthlyIncAmt" class="grey_val sex_val">{{monthlyIncAmt}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{monthlyIncAmtStatus}}.png"/></td>
                    <td class="grey year">家庭月收入</td>
                    <td id="householdMonthlyIncAmt" class="grey_val year_val">{{householdMonthlyIncAmt}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{householdMonthlyIncAmtStatus}}.png"/></td>

                    <td class="grey idNo">固定资产</td>
                    <td id="householdFixAssetAmt" class="grey_val idNo_val">{{householdFixAssetAmt}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{householdFixAssetAmtStatus}}.png"/></td>
                    
                    <td class="grey marital_status">工作单位</td>
                    <td id="employerCifNm" class="grey_val">{{employerCifNm}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{employerCifNmStatus}}.png"/></td>
                   <!--  <td class="grey">户籍</td>
                    <td id="mtResidenceStsCd" class="grey_val">{{mtStateCdDscp}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{mtStateCdDscpStatus}}.png"/></td> -->
                    <td class="grey school">职位</td>
                    <td id="mtPosHeldCd" class="grey_val school_val">{{mtPosHeldCd}}<img style="vertical-align:middle;margin-left:20px;" src="../images/{{mtPosHeldCdStatus}}.png"/></td>
                    
                </tr>
            </tbody>
        </table>
        
    </div>
    
    <!--  担保信息 -->
    
   <div ng-include="'viewGuarantee.html'"></div>

<!--  业务信息 -->
  
  <div ng-include="'viewBusiness.html'"></div>  
   <div class="explainRight">
       <ul class="explainUl">

           <li class="clearFix"><span class="explainFirst" id="explainFirst" ng-click="explainFirst()">名词字典</span>
                <div class="explainCon" id="explainCon">
                    <ul class="explainList clearFix">
                        <li ng-repeat="resli in resList" class="explainListLi" ng-mouseout="showPhotomcout($index)" ng-mouseover="showPhotomc($index)" ng-class="{'active':isActivemc($index)}">
                            <div class="explainSec">{{resli.niName}}</div>
                            <div class="explainListCon" ng-show="isActivemc($index)">
                                <div  class="rightdirection"></div>  

                                <div class="explainDescribe">
                                    <h3 class="explainTitle">{{resli.niName}}</h3>
                                    <h4 class="line"></h4>
                                    <div class="explainDesc">
                                        
                                        <p class="explainDescP"  ng-bind-html="title2">{{resli.niDesc}}</p>
                                    </div>
                                </div>

                            </div>

                        </li>
        
                    </ul>

                </div>
           </li>

           <li class="clearFix"><span  class="explainFirstLiTwo" id="explainFirstLiTwo">查看导出</span>
                <div class="explainConTwo">
                    <ul class="explainSeeList clearFix">
                        <li>
                           <input type="checkbox" class="explainListBtn"> 
                           <span class="time">2016.3.12 12:25</span>
                           <span class="show">查看</span>
                        </li>
                        <li>
                           <input type="checkbox" class="explainListBtn"> 
                           <span class="time">2016.3.12 12:25</span>
                           <span class="show">查看</span>
                        </li>
                        <li>
                           <input type="checkbox" class="explainListBtn"> 
                           <span class="time">2016.3.12 12:25</span>
                           <span class="show">查看</span>
                        </li>
                        <li>
                           <input type="checkbox" class="explainListBtn"> 
                           <span class="time">2016.3.12 12:25</span>
                           <span class="show">查看</span>
                        </li>
                        <li>
                           <input type="checkbox" class="explainListBtn allChoice">全选
                           <span class="export">导出</span>
                        </li>

                        
                    </ul>


                </div>
           </li>

           
       </ul>
       <div  class="explainFirst scrollTop">顶部</div>
   </div> 
    <div class="layer"></div>
</div>
</body>
</html>
