<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>炼金台客户风险视图</title>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/base.css">
    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/angular.js"></script>
    <script src="js/libs/angular-route.js"></script>
    <script src="js/login.js"></script>
    <script src="js/ng/ngAjax.js"></script>
</head>
<body>

	<div class="container">

		<div class="head">
			<div class="logo fl"><a href="index.html" title="炼金台客户风险视图" target="_top"><img src="images/logo.png" alt="炼金台客户风险视图"></a></div>
		</div>

		<div class="line"></div>

		<div class="center">
			<div class="userLogin">用户登录</div>
			<form class="formContent" ng-app="myApp"  ng-controller="formCtrl" name="myForm" novalidate id="myForm">

				<!-- username -->
				<div class="form-group">
            		<div class="lable lable1 fl">登录名：</div>
            		<!-- <div class="inputBox fl"> -->
            			<input type="text" maxlength="16" name="userName" id="loginname" class="inputText fl" autocomplete="off"  ng-model="user" required ng-focus="userfocus()" ng-blur="userblur()"> 
            			<div class="notice fl">
            				
            				<div class="notice1 span-grey notice1Name">请输入登录名</div>
            				<div class="notice2 span-grey notice2Name no">登录名不能为空或空格</div> 
            				<div class="notice3 span-grey notice3Name no">登录名不能小于5位字符</div> 
            				<div class="notice3 span-grey notice4Name yes"></div> 
            			</div>

            			
            	</div>	 

            	<!-- password -->
            	<div class="form-group">
            		<div class="lable lable1 fl">密&nbsp;&nbsp;&nbsp;&nbsp;码：</div>
            		<!-- <div class="inputBox fl"> -->
            			<input type="password" maxlength="16" name="passwd" id="loginPassWord" class="inputText fl" autocomplete="off" ng-model="passw" required ng-focus="passfocus()" ng-blur="passblur()">
            			<div class="notice fl">
            				
            				<div class="notice1 span-grey notice1Pass">请输入登录密码</div>
            				<div class="notice2 span-grey notice2Pass no">密码不能为空或空格</div> 
            				<div class="notice3 span-grey notice3Pass no">密码不能小于6位字符</div> 
            				<div class="notice3 span-grey notice4Pass yes"></div> 
            			</div>
        			<!-- </div>	 -->
            	</div>	

            	<!-- yzm -->
            	<div class="form-group">
            		<div class="lable lable1 fl">验证码：</div>
            		
            			<input class="inputText text3 fl" maxlength="4" type="text" id="yzmimg" name="_@IMGRC@_" autocomplete="off" ng-model='yzm' ng-blur="checkImageCode()">
                              <input type="hidden" id="ssid" name="ssid" />
            			<a class="yzm_a fl" href="#"><span class="span-grey" id="imageCode">
			            </span>看不清，换一个</a>
                          <div class="yzmPosition fl">
                                <div class="span-grey" id="imageCodeInfo"></div>
                          </div>
            	</div>	
            	<div id="divLogin" tabindex="0" class="form-group login" ng-click="login()">登录</div>

			</form>


		</div>


		<div class="footer">
                  <span>CopyRight &copy; 2016</span><span>版权所有</span><span>北京海恩炼鑫台</span><span>京ICP备14056262号</span><span class="padding_left_20">问题反馈：service@lianjintai.com</span><span>客服电话：400-890-7756</span> 
            </div>
		
	</div>
	
</body>

</html>	
