<div>		
   <div class="mess_search">
        <ul class="clearfix">
           <li> <span>姓名：</span>
               <input type="text" class="nameText" name="startTime" ng-model="nm"/>
           </li>
           <li> <span>证件号：</span>
               <input type="text" class="idText" name="endTime" ng-model="idNo" />
           </li>
           <li>
               <input type="button" value="筛 选" class="searchBtn" ng-click="srhHistory()">
           </li>
        </ul>
    </div>
    <div class="srh_box">
    	<table class="history_list">
        	<tbody>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>证件类型</th>
                    <th>证件号</th>
                    <th>调用次数</th>
                    <th>操作</th>
                </tr>
                <tr>
                	<td>11</td>
                    <td>11</td>
                    <td>11</td>
                    <td>11</td>
                    <td>11</td>
                    <td>112223333</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>